@import "../tools/breakpoints";
@import "../tools/colors";
@import "../tools/typography";

.headering {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  max-width: 1120px;

  @media screen and (max-width:1448px)  {
    max-width: 980px;
    padding-left: 10px;
  }

  @media screen and (max-width:$lt)  {
    max-width: 870px;
  }

  @media screen and (max-width:884px)  {
    max-width: 840px;
  }

  @media screen and (max-width:856px)  {
    padding-right: 10px;
    padding-left: 10px;
  }

  @media screen and (max-width:$tb)  {
    max-width: 623px;
  }

  @media screen and (max-width: 477px) {
    max-width: 420px;
  }

  @media screen and (max-width: 350px) {
    flex-wrap: wrap;
  }

  &__button {
    @media screen and (max-width: 350px) {
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  &__list {
    padding-left: 121px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 322px;
    justify-content: space-between;
    align-items: center;

    &__link {
      color: $color-primary-1;
      text-decoration: none;
      font-size: 16px;
      line-height: 25.6px;

      &:hover {
        font-weight: 800;
        color: $color-primary-2;
      }

      &:active {
        text-decoration-line: underline;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.button-request {
  flex-grow: 2;
}

.white-button {
  background-image: url("../img/background/back-btn.png");
  width: 215px;
  height: 63px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;

  &:hover {
    color: $color-secondary;

  }

}

.logo {
  width: 49px;
  height: 35px;

  &:hover {
    width: 52px;
    height: 38px;
  }
}

.arrow-icon {
  width: 20px;
  height: 14px;
  fill: transparent;
  stroke: $color-secondary;
  padding-left: 20px;

}

.nav-list {
  @media screen and (max-width:$tb)  {
    display: none;
  }
}

.hamburer {
  display: none;
  @media screen and (max-width:$tb)  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
  }
}